<div class="page mainpage">
  <div class="one-half motto bottom">
    <div class="bottom-content">watch and share</div>
  </div>

  <div class="one-half last bottom" style="float: right; width: auto" align="center">
    <%= image_tag "logo.png", width:'350px' %> 
    
    <div class="bottom-content">
      <%= render "sessions/signin" %>
    </div>
  </div>
</div>