a:hover {
    color: #565;
    background: transparent;
}

.bottom {
    position: relative; 
    height: 100%;
}

.motto {
    background-image: url(/assets/schema.png);
    background-repeat: no-repeat;
    font-family: "Buxton Sketch";
    font-size: 32px;
    font-weight: bold;
    text-align: right;
}

.bottom-content {
    position: absolute; 
    bottom: 0; 
    right: 0;
    width: 100%;
}

.star-box-giga-star {
    background-image: url(/assets/star.png);
    background-size: 80px 80px;
    background-repeat: no-repeat;
/*    background-position:-180px -71px;*/
    width:80px;
    height:80px;
    line-height:85px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:white;
    font-family:tahoma;
    float:left;
    margin: -30px 10px 0px -40px;
}

/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

body {
	font-family: "Arial";
	background-color: #017BCD;
	color: #565656;
	font-size: 16px;
}

/*-----------------------------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------------------------*/

.page {
    width: 960px;
    background: white;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 1);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mainpage {
    height: 500px;
    padding: 50px;
}

.userpage {
    padding: 80px;
}

/*-----------------------------------------------------------------------------------*/
/*	COLUMNS
/*-----------------------------------------------------------------------------------*/

.one-half {
	width:48%;
}

.one-third {
	width:30.66%;
}

.two-third {
	width:65.33%;
}

.one-fifth {
	width:16.8%;
	text-align: center;
}

.four-fifth {
	width:79.2%;
}

.one-half, .one-third, .two-third, .one-fifth, .four-fifth {
	position:relative;
	margin-right:4%;
	float:left;
}

.last {
	margin-right:0 !important;
	clear:right;
}

/*-----------------------------------------------------------------------------------*/
/*	TAB
/*-----------------------------------------------------------------------------------*/

#tab-menu {
    list-style:none;
}

#tab-menu li {
    cursor: pointer;
    color: #565656;
}

#tab-menu li:hover, #tab-menu li.selected {
    text-decoration: underline;
    color: #5d8ba6;
}

.tab-wrapper {
    width:960px;
}

.tab-content {
}

.tab-content div.tab {
    display:none;
    padding: 0;
}

.tab-content div.tab.show {
    display:block;
}

.tab-content div.tab p {
    width:650px;
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px 0;
}

.tab-content div.tab div p {
    width:100%;
}